//coleres
$color-purple: #572EE5;
$color-green-blue: #5ED7C6;
$color-redes: #CDD6E0;
$color-grey:#9CAFC3;
$color-grey-backg: #F3F5F8;
$Color-White: #FFF;
$Color-black: #000;
$color-dark: #1f1f1f;
$color-purple-op: rgba(87,46,229,0.6);
$Color-White-op: rgba(255, 255, 255, 0.7);

//Fuentes
$Fuente-Montserrat:  "Montserrat", sans-serif;
$Fuente-Roboto:  "Roboto", sans-serif;