@import 'variables';
@import 'header';
@import 'trending';
@import 'body';
@import 'footer';

#gifos-favoritos {
    margin-top: 20px;
    text-align: center;
}
#titulo-Favorito{
    font-family: $Fuente-Montserrat;
    color: $color-purple;
    width: 100%;
    text-align: center;
}
.titulo{
    margin-top: 5px;
    #iconoCorazon{
        padding-left: 174px;
    }
}
.resultados-favoritos {
    margin: 38px 10px 53px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.resultados-gif-box-fav {
    width: 156px;
    height: 120px; 
    overflow: hidden;
    margin: 0 10px 25px 10px;
    img{
        width: 100%;
        height: 100%;
    }
}
.gif-acciones-resultados-fav {
    display: none;
}

@media screen and (min-width:376px) {

    #titulo-Favorito{
        width: 375px;
        font-size: 20px;
        line-height: 30px;
    }
    .favoritos {
        display: inline-block;
        .gifFavoritos{
            margin-top: 110px;
            text-align: center;
            .favContenido{
                margin-bottom: 23.7px;
            }
            h2{
                color: $color-green-blue;
                font-family: $Fuente-Montserrat;
                font-size: 22px;
                text-align: center;
                line-height: 33px;
            }
        }
    }
    .resultados-favoritos {
        margin: 38px 10px 53px 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .resultados-gif-box-fav {
        width: 220px;
        height: 200px; 
        margin: 0 10px 25px 10px;
    }
    .gif-acciones-resultados-fav {
        position: absolute;
        z-index: 0;
        background-color: $color-purple-op;
        width: 220px;
        height: 200px;
    }
    .iconos-acciones-gif {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .iconos-acciones-box {
        width: 32px;
        height: 32px;
        background-color: $Color-White-op;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 6px;
        border: none;
    }
    .favorito-fav {
        cursor: pointer;
    }
    .download {
        margin-left: 10px;
        cursor: pointer;
    }
    .max {
        margin-left: 10px;
        cursor: pointer;
    }
    .iconos-acciones-box:hover {
        background-color: $Color-White;
    }
    .textos-descripcion-gif-favoritos {
        position: absolute;
        bottom: 30px;
        left: 18px;
    }
    .user-gif-favoritos {
        font-family: $Fuente-Roboto;
        text-align: left;
        color: $Color-White;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        padding: 0;
        margin-bottom: 6px;
    }
    .titulo-gif-favoritos {
        font-family: $Fuente-Roboto;
        text-align: left;
        color: $Color-White;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        padding: 0;
        margin: 0;
    }
    .resultados-gif-box-fav:hover .gif-acciones-resultados-fav {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    #titulo-Favorito{
        margin-left: 445px;
        font-size: 25px;
        line-height: 30px;
        width: 549px;
        height: 30px;
        padding-left: 0;  
    }
    main{
        .favoritos {
            display: inline-block;
            width: 100%;
            .titulo{
                margin-top: 11px;
                
                #iconoCorazon{
                    padding-left: 706px;
                    margin-bottom: 8px;
                }
            }
            .gifFavoritos{
                text-align: left;
                .favContenido{
                    padding-left: 645.2px;
                }
                h2{
                    width: 431px;
                    height: 66;
                    justify-content: center;
                    margin-left: 504.5px;
                }
            }
        }
    }
    .tendenciasGif{
        margin-top: 137px;
        margin-bottom: 49.4px;
    }
    .resultados-favoritos {
        margin: 59px 146px 47px 146px;
    }
    .resultados-gif-box-fav {
        width: 260px;
        height: 200px;
        margin: 0 15px 31px 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .gif-acciones-resultados-fav {
        position: absolute;
        z-index: 0;
        background-color: $color-purple-op;
        width: 260px;
        height: 200px;
        img{
            width: 18px;
            height: 15.9px;
        }
    }

}